<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ticketing System</a>
    
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="authService.isLoggedIn">
          <span class="navbar-text text-white me-3">
            {{ authService.currentUserValue?.email }} ({{ authService.currentUserValue?.role }})
          </span>
        </li>
        
        <li class="nav-item" *ngIf="authService.isLoggedIn">
          <button class="btn btn-outline-light" (click)="logout()">
            Logout
          </button>
        </li>
        
        <li class="nav-item" *ngIf="!authService.isLoggedIn">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
